<% content_for :title, t(".title") %>

<div class='container'>
	<div class='auth'>
	    <h1><%= t("sessions.new.title") %></h1>
		<%= form_with(
			url: login_path,
			scope: :user,
			class: "is-flex is-flex-direction-column"
		) do |form| %>
			<div class="block">
				<%= form.label :email, class: "label" %>
				<%= form.email_field :email, class: "input" %>
			</div>
			<div class="block">
				<%= form.label :password, class: "label" %>
				<%= form.password_field :password, class: "input" %>
			</div>
			<%= form.submit t(".submit"),
			class: "button is-primary is-large
			is-align-self-flex-end mb-3 mt-3" %>
		<% end %>
		<div class='profile__social bubbles'>
			<a href='https://twitter.com/Jackthomsonn' target='_blank'>
				<i class='fa fa-twitter' dataName='Twitter'></i>
			</a>
			<a href='https://uk.linkedin.com/in/jackthomsonn' target='_blank'>
				<i class='fa fa-linkedin' dataName='Linkedin'></i>
			</a>
			<a href='https://codepen.io/Jackthomsonn' target='_blank'>
				<i class='fa fa-codepen' dataName='Codepen'></i>
			</a>
	    </div>
	</div>
</div>
<div class='bubbles'></div>
<div class='bubbles'></div>
<div class='bubbles'></div>
<div class='bubbles'></div>
<div class='bubbles'></div>