<%= simple_form_for room, html: {
  class: "room form",
  data: { turbo: false }
} do |f| %>
  <% if room.errors.any? %>
    <div class="error-message">
      <%= room.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.input :name %>

  <%= f.submit t('.submit'), class: "button" %>
<% end %>