
<%= turbo_frame_tag room do %>
  <div class="room">
    <%= link_to room.name,
      room_path(room.uuid),
      data: { turbo_frame: "_top" } %>
    <div class="room__actions">
      <%= button_to "Delete",
        room_path(room.id),
        method: :delete,
        form: { data: { turbo_frame: "rooms" } },
        class: "button" %>
      <%= link_to "Edit",
        edit_room_path(room.id),
        class: "button" %>
    </div>
  </div>
<% end %>