<main class="container">
  <%= link_to sanitize("&larr; Back to rooms"), rooms_path %>

  <div class="header">
    <h1>Edit room</h1>
  </div>

  <%= turbo_frame_tag @room do %>
    <%= render "form", room: @room %>
  <% end %>
</main>