<div class='container'>
	<div class='auth'>
		<%= link_to t(".new_button"),
			new_room_path,
			class: "button",
			data: { turbo_frame: dom_id(Room.new) } %>

		<%= turbo_frame_tag Room.new %>

		<% if @rooms.empty? %>
			<h1><%= t('.empty') %></h1>
		<% else %>
			<h1><%= "#{@org.name}'s Rooms" %></h1>
			<%= turbo_frame_tag "rooms" do %>
				<%= render @rooms %>
			<% end %>
		<% end %>
	</div>
</div>