@import 'config/variables';
@import 'auth';
@import 'base';
@import 'header';
@import 'nav';
@import 'room';
@import 'video';

html, body {
  height: 100%
 }

 body {
  margin: 0;
 }

.room,
.media {
  width: 100%;
  height: 100%;
 }

 .media {
  display: grid;
 }

 .medium {
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.medium video {
  display: block;
  height: 100%;
  max-width: 100%;
}

 .medium--local video {
  transform: scaleX(-1);
 }

 .medium-actions {
   position: absolute;
   top: 0;
   left: 0;
 }
