@import "config/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.auth {
  background: rgba(255, 255, 255, 0.9);
  width: 60%;
  border-radius: 0.2em;
  border-bottom: 5px solid $secondary;
  color: $primary;

  &__avatar {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/profile.jpg');
    background-size: cover;
    border: 5px solid $secondary;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    margin: 0 auto;
    opacity: 0;
    animation: avatarFadeIn $t $t $bezan forwards;
    transform: translateY(-45px);
  }

    %text {
    color: $secondary;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    opacity: 1;
  }
  h1 {
    @extend %text;
    font-size: 1.7em;
    animation: fadeIn $t $t $bezan forwards;
  }
  h2 {
    @extend %text;
    font-size: 0.75em;
    font-weight: 400;
    animation: fadeIn $t $t * 2 $bezan forwards;
  }
  &__social {
    margin: 2em auto;
    text-align: center;
    display: block;
    color: $secondary;
    font-size: 1em;
    a {
      text-decoration: none;
    }
  }
}
