@import "config/variables";

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: 'Nunito', sans-serif;
  transform: translate3d(0,0,0);
}

html, body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-120deg, $primary 65%, $secondary);
}

html, body {
  background-image: url('/assets/images/crystal-cave.jpg') no-repeat;
  background-size: cover;
}

button {
  outline : none;
  transition: .2s;
  cursor: pointer;
  
  &:hover {
    opacity: .7;
  }
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}

.job,
.button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}

.button {
  outline : none;
  transition: .2s;
  cursor: pointer;
  
  &:hover {
    opacity: .7;
  }
}

.button {
  background-color: #fff;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: $primary;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
  transform: scale(1.02) translate(-4px);
}

.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  transform: scale(0.98) translateY(-2px);
}
