@import "config/variables";

@import url('https://fonts.googleapis.com/css?family=Raleway');

header, footer
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
  background: url(crystal-cave.jpg);
  color: $secondary;
}

header {
    height: 460px;
}

footer {
    height: 60px;
}

header h1
{
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
}

header span
{
    color: $secondary;
}

footer span
{
  color: $secondary;
}
