.medium {
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.medium video {
  display: block;
  height: 100%;
}

.room-stack {
   width: 100%;
 }

.medium--local {
  aspect-ratio: 1;
  width: 10%;
  min-width: 100px;
  position: absolute;
  /* ↓ equivalent to `top` in horizontal-tb writing mode */
  inset-block-start: 10%;
  /* ↓ equivalent to `left` in horizontal-tb writing mode */
  inset-inline-start: 80%;
  transform: translate(-50%, -50%);
}

.medium--local > video {
  border-radius: 290486px;
  transform: scaleX(-1);
}

.medium--local-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
}

.medium--presenter {
  height: auto;
}

.medium--presenter > video {
  display: flex;
  aspect-ratio: 24 / 9;
  max-inline-size: 100%;
  margin: 0 auto;
  block-size: 100%;
  object-fit: cover;
}

.wallpaper,
.medium--local-shadow,
.medium--local-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
