<nav>
  <div class="container navbar borderYtoX">
    <%= link_to(t("app_name"), root_path) %>
    <% if Current.user %>
        Welcome, <%= Current.user.name %>!
      <%= link_to t(".logout"), logout_path, data: {turbo_method: :delete} %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to t(".sessions.new.title"), login_path %>
    <% end %>
  </div>
</nav>

